@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {padding: 0;}
.container {font-family: 'GmarketSansMedium';}
#board-container {display: flex; flex-direction: row; margin: 0 auto; justify-content: center;}
/*산업군 menu css*/
#occupation-container{padding: 20px; width: 280px; height: 370px; background-color: #e0e0e0; margin: 10px 30px 0 0; font-family: 'GmarketSansMedium';}
#occupation-container h4 {margin: 0; font-weight: bold; padding-bottom: 15px; width: 280px;}
#occupation-container ul {padding: 0; width: 280px;}
#occupation-container li {padding-bottom: 5px; list-style: none; padding-left: 0; cursor: pointer;}
#occupation-container a {text-decoration: none; color: #000; text-decoration: none;}
/*회사list css*/
.company-container {background-color: #fff; height: auto; width: 800px; font-family: 'GmarketSansMedium'; border-radius: 25px;}
.company-container>.url {color: inherit; /* 링크의 색상 제거 */text-decoration: none; /* 링크의 밑줄 제거 */}
.company-box {width: 800px; height: 120px; background-color: rgb(218 216 216 / 20%); border-radius: 25px; margin:10px 0px; display: flex; flex-direction: row;}
.company-box:hover {box-shadow: 5px 5px 5px lightgray; transform: scale(1); transition: transform 2s;}
.img-box img {width: 80px; height: 80px;}
.img-box, .text-box {margin: 20px;}
.text-box div {padding-bottom: 5px;}
.title_box {font-size: large; font-weight: bold;}
.occupationName_box {font-size:13px;}
.countBoard {font-size: 15px;}
.company_score {margin: 50px 50px 50px auto;}
.pagination {display: flex; justify-content:center; padding: 50px;}
.page-item.active .page-link {background-color: #2196f3; border-color: #2196f3;}