@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {font-family: 'GmarketSansMedium'; padding: 0;}
.board-container {margin:0 auto; width: 900px; height: auto; border-radius:30px; background-color:#fff;}
.content {background-color:#fff; height:auto; width:740px; margin:0 auto; top:40px; position:relative;}
#foo {width:900px; height:150px; background-color: #e0e0e0; border-radius: 30px 30px 0 0;}
#co_img img {width:90px; height:90px; border:3px solid gray; transform:translate(80px, 105px); background-color: #fff;}
#co_info {transform:translate(80px, 35px);}
#co_name h3 {margin-bottom: 2px; padding: 0; margin-top: 30px; font-weight: bold; }
#co_info span {font-size:14px;}
.content_box1 {margin:60px auto; background-color:#f9f8f8; width:740px; height:auto;}
.content_box1 img {width:40px; height:40px; margin: 15px 15px 20px 17px;}
.content_box2 {display:flex; flex-direction:row; margin: 20px 30px;} 
.content-top {position: relative; display: flex; align-items: center; }
.btn {margin-right: 0; margin-left: auto; padding-right: 50px;}
.content-top-text {align-items:center;}
.content-top span {padding-right:10px; padding-left:5px;}
.menu {margin-right: 40px; font-size:13px;}
.review {font-size:13px; height:auto; width:535px;}
.review_box div{margin:0 10px 30px 10px; font-size:13px;}
.comment{margin-top:10px; padding-top: 14px; border-top: solid 1px #E0E0E0;}
.comment-input {width: 450px;}
.comment-list {margin-bottom:10px;}
.menu_title {font-size:15px; font-weight:bold;}
.result {display:flex; flex-direction:row; background-color:rgb(224, 224, 224); margin-bottom:30px;}
.result div {margin:20px auto;}
.result span {vertical-align: middle; margin: 20px;}
.statics_form {width:740px; height: 250px; background-color:#f9f8f8; margin-top:12px;}
.difficulty_form {width:300px; height:200px; margin:24px;}
.graph_form {width:440px; height:200px; margin:24px;}
.pagination.justify-content-center {padding-bottom:40px; padding-top:20px;}
.row_title {font-weight:bold; font-size:15px;}
.add {border: none; outline: none; width: 45px; height: 26px; letter-spacing: 2px; font-weight: 500; }
.cmt-text {padding-left: 10px;}
.cmt-up {float: right;}
.cmt-del {float: right; margin-left: 10px;}
.secretBtn{position: relative; top: 1.5px; margin-left: 458px;}
.secretlb{position: relative; top: -1.5px;}
#myRange {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#myRange:hover {
  opacity: 1;
}
#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #2196f3;
  cursor: pointer;
}
#myRange::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #04AA6D;
  cursor: pointer;
}

#toc-content {
  display: none;
}

#toc-toggle {
  cursor: pointer;
  color: #007bff;
  text-decoration: none !important;
}

#toc-toggle:hover {
  text-decoration: underline;
}