@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {font-family: 'GmarketSansMedium'; padding: 0; }
.board-container{margin:0 auto; width: 900px; height: auto; border-radius:30px; background-color:#fff;}
.header img {width:45px; height:45px; margin:15px;}
.header {align-items:center; height:75px; font-size:20px;}
.footer {text-align:center; margin-top:20px; padding-bottom:20px;}
footer .btn {display:inline-block; margin-bottom: 17px; margin-right:20px;}
#submit {background-color:#000; color:#fff;}
#cancel {background-color:#ccc; color: #fff; margin-right: 20px;}
label {display:inline-flex; font-size:16px;}
input[type=text],select, #co_name {width: 310px; height:40px; padding:5px 10px 5px 10px; font-size:14px;}
#coName {width:490px;}
textarea {width:600px; height:120px; margin:5px 0; padding:5px 10px; font-size:14px;}
input::placeholder {color:#ccc;}
textarea::placeholder {color:#ccc;}
input[type=radio] {width: 30px;}
input[type=checkbox] {position:relative; top:4px; margin-right: 5px;}
#recruitment_method label {position: relative; top: -16px; margin-right: 5px;}
.interviewYear, .interviewMonth {width: 153px;}
#recruitment_method {display:flex; flex-direction:row; margin-top: 30px; margin-bottom: 30px;}
#recruitment_method div {width:233px;}
.checkbox_group {display:flex; flex-direction: column;}
.group_title {font-size:21px; margin-bottom:18px; color:#435ba6; margin-bottom: 30px; font-weight: bold;}
.tb1 {font-size:15px; margin:15px 50px;}
.tb1 td{width: 100px; height:50px;}
.tb2 td, th{border:1px solid #000; text-align:center; width:auto;}
.tb2 {font-size:14px; margin:0 auto; width:550px;}
.tb2 th {background-color:#4671c6; color:#fff; height:30px;}
.modal-content {width:600px;}
.modal-body {margin:0 auto; padding:0; width:600px;}
.form-group {justify-content: center;}
.modal-footer button {margin:0 auto;}
.form-group {margin:15px auto;}
.btn-primary {color: #fff; background-color: #000; border-color: #000; margin-left: 5px;}