@charset "UTF-8";

* {
	margin: 0;
	 font-family: 'GmarketSansMedium';
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #34495e;
	
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'GmarketSansMedium';
}

.listForm {
	margin-top: 190px;
	margin-bottom: 50px;
	width: 500px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
	width: 100%;
	 font-family: 'GmarketSansMedium';
}

.memberList {
	width: 600px;
	height: 200px;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
	width: 70%; /* 부모 요소의 너비 상속받음 */
	 font-family: 'GmarketSansMedium';
}

h1 {
	text-align: center;
	margin-top: 30px;
	color: white;
	font-family: 'GmarketSansMedium';
}

.list {
	margin-top: 20px;
	margin-bottom: 20px;
	 font-family: 'GmarketSansMedium';
}

h2 {
	color: black;
	font-size: 40px;
	 font-family: 'GmarketSansMedium';
}

/* table {
	width: 750px;
	margin-top: 20px;
	font-size: 12px;
	color: #333333;
 	border-width: 1px;
  border-color:black;
	border-collapse: collapse;
	font-weight: bold;
} */
th {
	font-size: 15px;
	background-color: #34497e;
	border: 1px solid;
	padding: 8px;
	border-color: #34497e;
	text-align: center;
	color: white;
	display: table-cell;
	outline: black;
}

tr {
	width: auto;
	height: 50px;
	outline: black;;
	font-family: 'GmarketSansMedium';
}

tr:hover {
	background-color: #34495e;
}

td {
	font-size: 12px;
	border: 1px solid;
	padding: 8px;
	border-color: white;
	text-align: center;
	background: snow;
	font-family: 'GmarketSansMedium';
}

/* td:hover {
  background-color: #34495e;
}


.memberBtn {
	border: 0.5px solid;
	border-color: black;
	width: 50%;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
}

.memberBtn:hover {
	background-color: black;
	color: white;
} */


.button input.modify {
	background: #34495e;
	color: white;
	outline: auto;
	width: 51px;
	height: 32px;
	font-weight: bold;
	font-family: 'GmarketSansMedium';
	padding-top: 3px;
}

.button input.delete {
	background: #34495e;
	color: white;
	outline: auto;
	width: 51px;
	height: 32px;
	font-weight: bold;
	font-family: 'GmarketSansMedium';
	padding-top: 3px;
}

.returnBtn input {
  font-family: 'GmarketSansMedium';
  margin-right: 163px;
  margin-bottom: 10px;
  height: 25px;
  border: none;
  background: rgb(118, 130, 142);
  color: white;
  letter-spacing: 1.5px;
}

.pagebar input {
	width: 25px;
    background: rgb(118, 130, 142);
    color: white;
    border: none;
    height: 23px;
	
}