@charset "UTF-8";

* {
	margin: 0;
	font-family: 'GmarketSansMedium';
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'GmarketSansMedium';
	background: #34495e;
	margin: 0;
}

.listForm {
	margin-top: 190px;
	margin-bottom: 50px;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	/* 	margin: 0 auto; */
	display: table;
	table-layout: fixed;
	width: 100%;
	font-family: 'GmarketSansMedium';
}

.memberList1 {
	height: 200px;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
	width: 100%; /* 부모 요소의 너비 상속받음 */
	font-family: 'GmarketSansMedium';
	background: #34495e;
	margin-bottom: 15px;
}

.memberList {
	height: 200px;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
	width: 55%; /* 부모 요소의 너비 상속받음 */
	font-family: 'GmarketSansMedium';
	background: #34495e;
	margin-bottom: 15px;
}

.pagebar {
	text-align: center;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
	margin-top: 30px;
	color: white;
	font-family: 'GmarketSansMedium';
}

.list {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'GmarketSansMedium';
}

h2 {
	color: black;
	font-size: 40px;
	font-family: 'GmarketSansMedium';
}

th {
	font-size: 15px;
	background-color: #34497e;
	border: 1px solid;
	padding: 8px;
	border-color: #34497e;
	text-align: center;
	color: white;
	display: table-cell;
	outline: black;
}

tr {
	width: auto;
	height: 50px;
	outline: black;;
	font-family: 'GmarketSansMedium';
}

tr:hover {
	background-color: #34495e;
}

td {
	font-size: 12px;
	border: 1px solid;
	padding: 8px;
	border-color: white;
	text-align: center;
	background: snow;
	font-family: 'GmarketSansMedium';
}

.button input.modify {
	background: #34495e;
	color: white;
	outline: auto;
	width: 51px;
	height: 32px;
	font-weight: bold;
	font-family: 'GmarketSansMedium';
	padding-top: 3px;
}

.button input.delete {
	background: #34495e;
	color: white;
	outline: auto;
	width: 51px;
	height: 32px;
	font-weight: bold;
	font-family: 'GmarketSansMedium';
	padding-top: 3px;
}

.returnBtn input {
	font-family: 'GmarketSansMedium';
	margin-right: 345px;
	margin-bottom: 10px;
	height: 28px;
	border: none;
	background: rgb(118, 130, 142);
	color: white;
	letter-spacing: 4px;
	width: 100px;
	padding-left: 10px;
}

.pagebar input {
	width: 25px;
	background: rgb(118, 130, 142);
	color: white;
	border: none;
	height: 23px;
	margin-bottom: 15px;
}