@charset "UTF-8";

/* * {
  margin: 0;
  font-family: 'GmarketSansMedium';
}
 */
@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
.fc-header-toolbar {
	font-family: 'GmarketSansMedium';
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

 #schedule {
	font-family: 'GmarketSansMedium';
	margin: 0 auto;
	background: white;
	height: 600px;
  width: 1150px;
}

.container {
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'GmarketSansMedium';
	background: #34495e;
	margin: 0;
	height: 800px;
}


h1 {
	padding-top: 25px;
	color: white;
	text-align: center;
	font-family: 'GmarketSansMedium';
}

.button input {
	font-family: 'GmarketSansMedium';
	margin-right: 185px;
	margin-bottom: 10px;
	height: 30px;
	border-radius: 3px;
	border: none;
	background: rgb(118, 130, 142);
	color: white;
  width: 100px;
  letter-spacing: 5px;
  padding-left: 10px;
	
}

h2.fc-toolbar-title {
	margin-left: 30px;
}