<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <settings>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  
  <typeAliases>
  	<package name="com.kh.khis"/>
  </typeAliases>
  
  <typeHandlers>
  	<typeHandler handler="com.kh.khis.login_join_mypage.model.CustomDateHandler" javaType="java.util.Date" jdbcType="DATE"/>
  	<!-- <typeHandler handler="com.kh.khis.common.typehandler.StringArrayTypeHandler"/> -->
  	<!-- <package name="com.kh.khis.common.typehandler"/> -->
  </typeHandlers>

	
</configuration>